.custom-shape-divider-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom .shape-fill {
    fill: #ffffff;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;  
    padding: 30px;
    color : rgb(255, 250, 250)
}

.instructions{
    font-size: 22px;
}
.sample-chart{
    display: block;
    height: 480px;
    width: 80%;
    background-color: honeydew;
    border-radius: 20px;
    padding: 25px;
}