.chart{
    display: block;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 3%;
}

.range{
    width: 300px;
    padding: 7px;
}

.apply{
    width : 100px;
    background: rgb(47, 206, 255);
    color:white
}

.btn-wrapper, .btn-wrapper-bottom{
    display: flex;
}

.canvas{
    width : 80%; 
}

.checkBoxes {
    position: absolute;
    width: 350px;
    display: block; 
    border: 1px #8DF5E4 solid;
    color : black;
    background: rgb(172, 170, 170);
}

.list{
    overflow-y: auto;
    height: 500px;
}



.checkBoxes label {
    padding: 5px;
    display: block;
    text-align: left;
}

.checkBoxes label:hover {
    background-color: #4F615E;
    color : white;
}

.dropdown{
    position: relative;
}

.inline-btn{
    margin: 3px;
    border: 0;
    text-align: center;
    display: inline-block;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
}

label{
    padding: 20px;
    text-align: center;
}

select, input{
    height: 30px;
    margin :15px;
}