.chart{
    display: block;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:auto;
}

.range{
    width: 300px;
    padding: 7px;
}

.apply{
    width : 100px;
    background: rgb(47, 206, 255);
    color:white
}

.btn-wrapper, .btn-wrapper-bottom{
    display: flex;
}

.canvas{
    width : 80%; 
}

.checkBoxes {
    position: absolute;
    width: 400px;
    display: block; 
    border: 1px #8DF5E4 solid;
    color : black;
    background: rgb(68, 147, 226);
    border-radius: 10px;
}

.list{
    overflow-y: auto;
    height: 500px;
}

.checkbox-search{
    width: 70%; 
    margin: 15px;
    border-radius: 5px;
    padding:0px;
}

.search-confirm{
    width: 20%;
    border:none;
    margin: 15px;
}

.checkBoxes label {
    padding: 5px;
    display: block;
    text-align: left;
    display: flex;
    align-items: center;
}

.checkBoxes label input{
    margin :10px
}

.checkBoxes label:hover {
    background-color: #56a1f7;
    color : white;
}

.dropdown{
    position: relative;
}

.material-icons{
    margin-top :5px
}

.inline-btn{
    margin: 3px;
    border: 0;
    text-align: center;
    display: inline-block;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
}

label{
    padding: 20px;
    text-align: center;
}

select, input{
    height: 30px;
    margin :15px;
}

select {
    width: 250px;
    height: 33px;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.06);
    border: none;
    border-radius: 10px;
}

.btn-wrapper-bottom label{
    font-size: 20px;
    font-family: "proxima-nova-soft", sans-serif;
    font-weight: 600;
    color:black
}