<div class="chart">
    <canvas id="average-response-over-time"></canvas>
    <button (click)="ResetZoom()">Reset Zoom</button>
    <label for="">Filter by response time</label>
    <select name="opt" id="opt" [(ngModel)]="selectedValue">
        <option  #opt1 [value]="opt1.value">Greater than</option>
        <option #opt2 [value]="opt2.value">Less than</option>
    </select>
    <p>{{selectedValue}}</p>
    <input type="number" name="response" [(ngModel)]="yAxisFilter">
    <button (click)="ApplyYFilter(yAxisFilter)">Apply filter</button>
    <button (click)="ClearFilter()">Clear filters</button>
</div>