<section class="section">
  <div class="custom-shape-divider-bottom"></div>
  <div class="navbar">
    <a class="logo" routerLink="/">
      <img src="../../assets/jmeter1.png" alt="JMeter" />
    </a>
    <div class="nav-links">
      <a routerLink="add-test-run-result">Add TestRun Results</a>
      <a routerLink="">View TestRun Results</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</section>




<style>
  html body .quicklink-heading {
    padding: 10px 20px;
    display: block;
    font-size: 11px;
    color: #666;
    font-style: italic;
    text-align: right;
  }
</style>
<div class="menu-toggle toggleleft">
  <a
    tabindex="0"
    aria-labelledby="closeMenuDesc"
    role="button"
    aria-expanded="false"
  >
    <div class="hamburger">
      <div class="top-bun">&nbsp;</div>
      <div class="meat">&nbsp;</div>
      <div class="bottom-bun">&nbsp;</div>
    </div>
  </a>
</div>
<div class="diabetic-health-header header csfw-header">
  <div class="header-inner">
    <div class="menu-holder">&nbsp;</div>
    <h1>
      <a href="/home.aspx" title="CHBase" id="lnkCHBase" class="chbaselogo"
        ><strong>CHBase</strong></a
      >
    </h1>
    <div class="right-side-ctrls">
      <div class="setting-popup">
        <div class="setting-popup-head">
          <a
            tabindex="0"
            role="button"
            aria-expanded="false"
            aria-label="Settings"
            aria-controls="personheadersettingpopupcontent"
          >
            $$$ACTIVE_RECORD_IMAGE$$$
          </a>
        </div>
        <div class="setting-popup-content" id="personheadersettingpopupcontent">
          <div class="rside-inner">
            <div class="fullscreen-view">
              <a
                ><em class="fa fa-expand fa-fw text"></em
                ><em class="fa fa-compress fa-fw"></em
              ></a>
            </div>

            <div id="divUserDetails" class="user-details">
              
              
              <div class="current-record">
                <div class="current-record-img">$$$ACTIVE_RECORD_IMAGE$$$</div>
                <div class="current-record-name">$$$ACTIVE_RECORD$$$</div>
                <div class="quick-link-group">
                    <div class="quick-link-header">Quicklinks</div>
                    $$$QUICK_LINKS_V3$$$
                  </div>
              </div>
              <div class="lang-record-group">$$$RECORD_SWITCHER_V2$$$</div>
              <div class="language-switcher">$$$LANGUAGE_SELECTOR_V3$$$</div>
              <span class="welcome-group">
                <div class="signout-container">$$$SIGN_OUT$$$</div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
