.wrapper {
    position: relative;
    height: 82vh;
    width: 100%;
}

.custom-shape-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(101% + 1.3px);
    height: 83px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom .shape-fill {
    fill: #FFFFFF;
}

.table-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.results {
    background-color: #ffffff;
    text-align: center;
    border-collapse: collapse;
    width: 80%;
}

.nav-btns {
    padding: 10px;
    margin-right: auto;
    margin-left: 200px;
}

.filter-label {
    margin-left: 50px;
    padding-right: 25px;
    padding: 10px;
    font-size: 18px;
}

.filter-input {
    font-size: 18px;
    width: 250px;
    height: 33px;
    border: none;
    border-radius: 10px;
}

.testrun-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.wrap {
    margin: 15px;
}

select {
    width: 250px;
    height: 33px;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.06);
    border: none;
    border-radius: 10px;
}
