<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" type="line-scale-pulse-out">
    <p style="color: white">Downloading report and generating charts...</p>
</ngx-spinner>
<div class="chart-wrapper">
    <!-- <div class="break" *ngIf="dataLoaded">
        Actual Response Time Over Time Chart
    </div>
    <div class="chart">
        <app-chart *ngIf="dataLoaded" [csvData]="(chartService.obs | async)!"
         [function]="ActualResvTime"
         [pageFunction]="Paging"
         [id]="'actual-response-over-time'"
         [title]="'Actual Response Time Over Time'"
         [xLabel]="'Elapsed Time (granularity: 1 min)'"
         [xAxisType]="'category'"
         [yLabel]="'Actual Response Time (ms)'">
         <canvas id="actual-response-over-time"></canvas>
        </app-chart>
    </div> -->
    
    <!-- <div class="break" *ngIf="!dataLoaded">
        Actual Response Time Over Thread
    </div> -->
    <!-- <div class="chart">
        <app-chart *ngIf="!dataLoaded">
         [function]="ActualThreadvResponseData"
         [id]="'actual-response-over-thread'"
         [pageFunction]="PagingFunctionTemplate"
         [title]="'Actual Response Time Over Thread Count'"
         [xLabel]="'Thread Count'"
         [xAxisType]="'linear'"
         [yLabel]="'Actual Response Time (ms)'">
         <canvas id="actual-response-over-thread"></canvas>
        </app-chart>
    </div> -->
    
    <!-- <div class="break" *ngIf="dataLoaded">
        Response Time Percentile Chart
    </div>
    <div class="chart">
        <app-chart *ngIf="dataLoaded" [csvData]="(chartService.obs | async)!"
         [function]="PercentileData"
         [pageFunction]="PagingFunctionTemplate"
         [id]="'responsetime-percentile'"
         [title]="'Response Time Percentile'"
         [xLabel]="'Percentile'"
         [xAxisType]="'linear'"
         [pointRadius]=0
         [yLabel]="'Percentile value in ms'">
         <canvas id="responsetime-percentile"></canvas>
        </app-chart>
    </div> -->
    
    <!-- <div class="break" *ngIf="dataLoaded">
        Average Response Time Over Time Chart
    </div>
    <div class="chart">
        <app-chart *ngIf="dataLoaded" [csvData]="(chartService.obs | async)!"
         [function]="AverageResvTimeData"
         [pageFunction]="PagingFunctionTemplate"
         [id]="'average-response-over-time'"
         [title]="'Average Response Time Over Time'"
         [xLabel]="'Elapsed Time (granularity: 1 min)'"
         [xAxisType]="'category'"
         [yLabel]="'Average Response Time (ms)'">
         <canvas id="average-response-over-time"></canvas>
        </app-chart>    
    </div> -->
    
    <div class="break" *ngIf="dataLoaded">
        Average Response Time Over Thread
    </div>
    <div class="chart">
        <app-chart *ngIf="dataLoaded" [data]="data"
         [id]="'average-response-over-thread'"
         [title]="'Average Response Time Over Thread Count'"
         [xLabel]="'Thread Count'"
         [xAxisType]="'linear'"
         [yLabel]="'Average Response Time (ms)'">
         <canvas id="average-response-over-thread"></canvas>
        </app-chart>
    </div> 

    
</div>